<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.bootcss.com/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdn.bootcss.com/echarts/5.0.0/echarts.min.js"></script>
<!--    <script src="/echarts/5.1.1/echarts.min.js"></script>-->
<!--    <script src="/jquery/3.6.0/jquery-3.6.0.min.js"></script>-->
    <title>Title</title>
</head>
<body>
    <div style="height: 960px; width: 100%" >
        <div id="graphChart_main" class="mainChart" style="height: 100%; width: 80%; float: left"></div>
        <div id="paramSet_graph" class="paramSet_graph" style="height: 100%; width: 20%; float: left">
            Min Support:<br/>
            <input id="minSupport"><br/>
            Min Confidence:<br/>
            <input id="minConfidence"><br/>
            <button id="btn_data_refresh">Refresh</a></button>
        </div>
    </div>
    <div style="height: 200px; width: 100%"></div>
    <div style="height: 600px; width: 100%">
        <div id="barChart_detail_model" class="subChart" style="width: 50%; height: 100%; margin: 2px"></div>
    </div>
    <div style="height: 600px; width: 100%" >
        <div id="sankeyChart_lift" class="subChart" style="height: 600px; width: 800px"></div>
    </div>
<script>

    var GraphChart_Main = echarts.init(document.getElementById('graphChart_main'));
    var BarChart_Details_Model = echarts.init(document.getElementById('barChart_detail_model'));

    var Btn_Data_Refresh = document.getElementById('btn_data_refresh');

    function renderColor() {
        return "#"+(Math.random()*0xffffff<<0).toString(16);
    }
    /**
     * itemSets: main dataSet for FI
     * item structure: {items: String, support: double, id<assigned when required>: int}
     * item example: {items: "[防风]", support: 0.88234, id:5}
     * @type {*[]}
     */
    var itemSets=[];

    /**
     * FrequentModels: main dataSet for FM
     * item structure<corresponding to DTO>: {source: String, target: String, confidence: double, lift: double}
     * item example: {source: "[防风]", target: ["黄岑"], confidence: 0.3211355, lift: 1.54223}
     * @type {*[]}
     */
    var FrequentModels=[];

    var idPool=0;

    //get frequent item set information
    $.ajax({
        url: "/data/fpMain",
        type: "GET",
        dataType: "json",
        data: {
        },
        success: function (data) {
            basicDataFill(data);
        }
    })

    Btn_Data_Refresh.onclick = function () {
        var minSupport = document.getElementById('minSupport').value;
        var minConfidence = document.getElementById('minConfidence').value;
        $.ajax({
            url: "/data/fpMainUser",
            type: "GET",
            dataType: "json",
            data: {
                minSupport: minSupport,
                minConfidence: minConfidence,
            },
            success: function (data) {
                basicDataFill(data);
            }
        })
    }

    function basicDataFill(data) {
        idPool=0;
        itemSets=[];
        FrequentModels=[];

        var items = data.itemSets;
        var models = data.models;
        for (var i in items) {
            var item={};
            item.items = items[i].items;
            item.support = items[i].support;
            item.id = idPool++;
            itemSets.push(item);
        }
        console.log(itemSets);
        for (var i in models) {
            FrequentModels.push(models[i]);
            // console.log(renderColor());
            // if (itemSets[data[i].source] == null) {
            //     itemSets[data[i].source] = renderColor();
            // }
            // if (itemSets[data[i].target] == null) {
            //     itemSets[data[i].target] = renderColor();
            // }
        }
        console.log(FrequentModels);
        renderRelationshipChart();
        // renderInit();
    }

    function renderRelationshipChart() {

        GraphChart_Main.clear();

        nodes = []
        links = []

        for (var i in itemSets) {
            var node = {};
            node.id = itemSets[i].id;
            node.name = itemSets[i].items;
            node.value = itemSets[i].support;
            node.x = -400 + Math.random()*700;
            node.y = -300 + Math.random()*500;
            node.symbolSize = (100 * itemSets[i].support);
            nodes.push(node);
        }

        for (var i in FrequentModels) {
            var link = {};
            for (var j in itemSets) {
                if (FrequentModels[i].source == itemSets[j].items) {
                    link.source = itemSets[j].id.toString();
                }
                if (FrequentModels[i].target == itemSets[j].items) {
                    link.target = itemSets[j].id.toString();
                }
            }
            links.push(link);
        }

        option = {
            title: {
              text: '关系图',
              subtext: 'powered by echart',
              left: '4%',
            },
            series: [{
                name: 'support',
                type: 'graph',
                data: nodes,
                links: links,
                edgeSymbol: ['none', 'arrow'],
                scaleLimit: {
                    min: 0.4,
                    max: 2,
                },
                lineStyle: {
                    color: 'source',
                    curveness: 0.3,
                },
                label: {
                    show: true,
                    formatter: '{b}'
                },
                layout: 'force',
                force: {
                    repulsion: 100,
                    edgeLength: [10,100],
                },
                roam: true,
            }],
            tooltip: {
                show: true,
                trigger: 'item',
                triggerOn: 'mousemove | click',
                backgroundColor: 'rgba(210,210,210,0.7)',
                textStyle: {
                    color: '#000',
                    fontStyle: 'normal',
                }
            },
        }

        GraphChart_Main.setOption(option);
        GraphChart_Main.on('click', function (params) {
            if (params.dataType == 'node') {
                coreNode = params.data.name;
                detail = {};
                detail["nodeName"] = coreNode;
                detail["dimension"] = ['models', 'confidence'];
                detail["dataSet"] = [];
                detail.dataSet.push(detail.dimension);
                for (var i in FrequentModels) {
                    if (FrequentModels[i].source == coreNode || FrequentModels[i].target == coreNode) {
                        data = [];
                        data.push(FrequentModels[i].source + '=>' + FrequentModels[i].target);
                        data.push(FrequentModels[i].confidence);
                        detail.dataSet.push(data);
                    }
                }
                console.log(detail);
                renderDetailModels(detail);
            }
        })
    }

    function renderInit() {
        BarChart_Details_Model.setOption({
            xAxis: {
                type: 'category',
                data: ['Frequent Models']
            },
            yAxis: {
                type: 'value',
            },
            series: [{
                type: 'bar'
            }]
        })
    }

    function renderDetailModels(params) {
        BarChart_Details_Model.setOption({});
        option = {
            title: {
                text: "相关频繁模式",
                subtext: "display for: " + params.nodeName,
            },
            dataset: [{
                source: params.dataSet,
            },{
                transform: {
                    type: 'sort',
                    config: {
                        dimension: 'confidence',
                        order: 'desc',
                    },
                }
            }],
            xAxis: {
                type: 'category',
                show: false,
            },
            yAxis: {
            },
            series: {
                type: 'bar',
                encode: {
                    x: 'models',
                    y: 'confidence',
                },
                datasetIndex: 1,
            },
            tooltip: {
                trigger: 'item'
            }
        }

        BarChart_Details_Model.setOption(option);
    }

</script>

</body>
</html>